<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net40" />
  <connectionStrings>
    <add name="CleanProcedureEntities" connectionString="metadata=res://*/Clean.csdl|res://*/Clean.ssdl|res://*/Clean.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANGELWINDEV-PC;initial catalog=Clean;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</packages>
